.nav{
    grid-area: n;
    background-color: #cbdbf2;
    margin: 5px;
}

.item{
    margin: 10px 0 0 0;
}

/* .item a{
    color:#46484a;
    margin: 0 0 0 10px;
} 

.item a:hover{
    color: red;
    text-decoration: underline;
    font-weight: bold;
} */

.active{
    color: red;
    font-size: 30px;
}